* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.form {
	background-color: #fff;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

.form-control {
	margin-bottom: 20px;
}

.form-control label {
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
}

.form-control input {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.btn {
	background-color: #008CBA;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.btn:hover {
	background-color: #006A8E;
}
